/* css for hompage blabla 
Last edited 2014-10-10 */



/* ----------------------------------------------------
---------------------CSS FÖR INDEX---------------------
-----------------------------------------------------*/



/* --------------CSS BARA FÖR HEADERN------------- */

header {
    width: 100%;
    height: auto;
    background-color: white;
	padding-right: 0em;
    margin-top: -2.000em;
    margin-left: -0.667em;
	text-align: center;
}

.logo {
    padding-top: 2.667em;
    padding-bottom: 1.333em;
	padding-left: 2.000em;
}



/* --------------CSS BARA FÖR MENYN------------- */


nav {

}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}

.menu .navLink {
	display: inline-block;
    margin-top: 0.667em;
	padding-left: 2.667em;
	padding-right: 2.667em;
	padding-top: 1em;
	padding-bottom: 1.333em;
	background: #6277ab;
	color: #d3d3d3;
	font-family: 'Source Sans Pro';
	font-size: 1.2em;
	font-weight: bold;
	/*text-decoration:none;*/
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: #E0F2F7;
	text-decoration: none;
}

.menu a:hover {
	background: #7d95d4;
	transition: background-color 500ms linear;
    text-decoration:none;
}

a:active {
    color: #4EB06B;
	text-decoration: none;
}



/* --------CSS BARA FÖR HUVUDINNEHÅLLET-------- */


main {
    width: auto;
    background-color: #6277ab;
    margin-top: -1.067em;
    margin-left: -0.533em;
	text-align: center;
}


.mainRuta {
    width: 725px;
    background-color: #c7d7ff;
	margin-left: auto;
	margin-right: auto;
    margin-top: 0.333em;
	margin-bottom: 2.000em;
    padding-top: 0.333em;
    padding-bottom: 1.333em;
    font-family: 'Source Sans Pro';
	text-align: left;
	
	-webkit-border-radius: 0.533em;
	-moz-border-radius: 0.533em;
	border-radius: 0.533em;
	-webkit-border-radius: 0.467em;
	-moz-border-radius: 0.467em;
	border-radius: 0.467em;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	box-shadow: 0em 0em 0.667em 0em rgba(0, 0, 0, 0.6);
}

.gosDakiImg {
    float: left;
    /*display: inline-block;*/
    margin-top: 0em;
    margin-left: 1.333em;
    margin-right: 1em;
    margin-bottom: 0em;
    display: inline;
}

#Dakiex1 {
    float: left;
    /*display: inline-block;*/
    margin-top: 0em;
    margin-left: 2.000em;
    margin-right: 1em;
    margin-bottom: 0em;
    display: inline;
}

#Dakiex2 {
    float: right;
    /*display: inline-block;*/
    margin-left: 1.333em;
    margin-right: 1em;
    margin-bottom: 0em;
    display: inline;
}

.omdomeleft img{
    float: left;
    /*display: inline-block;*/
    margin-top: 0em;
    margin-left: 1.333em;
    margin-right: 1em;
    margin-bottom: 0.667em;
    display: inline;
	width: 6.667em;
	height: 6.667em;
	border-radius: 3.333em;
	-webkit-border-radius: 3.333em;
	-moz-border-radius: 3.333em;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	box-shadow: 0em 0em 0.667em 0em rgba(0, 0, 0, 0.6);
}

.omdomeright img{
    float: right;
    /*display: inline-block;*/
    margin-top: 0em;
    margin-left: 2.000em;
    margin-right: 1.333em;
    margin-bottom: 0.667em;
    display: inline;
	width: 6.667em;
	height: 6.667em;
	border-radius: 3.333em;
	-webkit-border-radius: 3.333em;
	-moz-border-radius: 3.333em;
	-webkit-box-shadow: 0em 0em 0em 0em rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	-ms-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	-o-box-shadow: 0em 0em 0.667em 0.067em rgba(0, 0, 0, 0.6);
	box-shadow: 0em 0em 0.667em 0em rgba(0, 0, 0, 0.6);
}


/* ------CSS BARA FÖR HUVUDINNEHÅLLETs TEXT------ */



.mainFirstHeading {
    padding-top: 0em;
    margin-left: 1.333em;
}

.omdomeheading {
    padding-top: 0em;
    margin-left: 1.333em;
	margin-bottom: 0em;
}

.mainText {
    /*display: inline-block;
    margin-top: -235px;
    margin-left: 220px;
    margin-right: 1.333em;*/
    margin-top: 0em;
    margin-left: 1.333em;
    margin-right: 1.333em;
    margin-bottom: 1.667em;
}

.omdome {
    /*display: inline-block;
    margin-top: -235px;
    margin-left: 220px;
    margin-right: 1.333em;*/
    margin-top: 0em;
    margin-left: 1.333em;
    margin-right: 1.333em;
    margin-bottom: 2.000em;
}



/* -------------CSS BARA FÖR FOOTERN------------- */


footer{
    width: 100%;
    background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
    margin-top: 1.333em;
    padding-top: 0.333em;
    padding-bottom: 1.333em;
    font-family: 'Source Sans Pro';
    text-align: center;
}
