/* css for Gosdaki 
Last edited 2014-10-13 */



/* ----------------------------------------------------
---------------------CSS FÖR INDEX---------------------
-----------------------------------------------------*/

html {
	height: 100%;
 	overflow: hidden;
	background: url(bilder/tillsammans4.jpg) no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
 	-o-background-size: cover;
 	background-size: cover;
}

body { 
	margin:0;
	padding:0;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

/* --------------CSS BARA FÖR HEADERN------------- */

header {
	text-align: center;
}

.logo {
   	padding-top: 10em;
   	padding-bottom: 1.333em;
	padding-left: 2em;
}


/* --------------CSS BARA FÖR MENYN------------- */


nav {

}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
}


.menu .navLink {
	display: inline-block;
	margin-top: 0.667em;
	padding-left: 2.667em;
	padding-right: 2.667em;
	padding-top: 1em;
	padding-bottom: 1.333em;
	background: #6277ab;
	color: #ffffff;
	font-family: 'Source Sans Pro';
	font-size: 1.2em;
	text-transform: uppercase;
	/*text-decoration:none;*/
}

.menu a:link {
	text-decoration: none;
}

.menu a:visited {
	text-decoration: none;
}

.menu a:hover {
	background: #7d95d4;
	transition: background-color 500ms linear;
	text-decoration:none;
}

.menu a:active {
    color: #E0F2F7;
	text-decoration: none;
}

#tilltop a:link{
	color: #ffffff;
}


#tilltop a:visited {
	color: #E0F2F7;
	text-decoration: none;
}

#tilltop a:hover {
	background: #7d95d4;
	transition: background-color 500ms linear;
    text-decoration:none;
}

#tilltop a:active {
    color: #4EB06B;
	text-decoration: none;
}


/* --------CSS BARA FÖR HUVUDINNEHÅLLET-------- */


main {
    width: auto;
    background-color: #6277ab;
    margin-top: -16px;
    margin-left: -0.533em;
	text-align: center;
}


.mainRuta {
    width: 725px;
    background-color: #c7d7ff;
	margin-left: auto;
	margin-right: auto;
    margin-top: 5px;
	margin-bottom: 2em;
    padding-top: 5px;
    padding-bottom: 1.333em;
    font-family: 'Source Sans Pro';
	text-align: left;
	
	-webkit-border-radius: 0.533em;
	-moz-border-radius: 0.533em;
	border-radius: 0.533em;
	-webkit-border-radius: 0.467em;
	-moz-border-radius: 0.467em;
	border-radius: 0.467em;
}

.gosDakiImg {
    float: left;
    /*display: inline-block;*/
    margin-top: 0;
    margin-left: 1.333em;
    margin-right: 1em;
    margin-bottom: 0;
    display: inline;
}

#connected {
	text-align: center;
}

#Dakiex1 {
    float: left;
    /*display: inline-block;*/
    margin-top: 0;
    margin-left: 2em;
    margin-right: 1em;
    margin-bottom: 0;
    display: inline;
}

#Dakiex2 {
    float: right;
    /*display: inline-block;*/
    margin-left: 1.333em;
    margin-right: 1em;
    margin-bottom: 0;
    display: inline;
}

.omdomeleft img{
    float: left;
    /*display: inline-block;*/
    margin-top: 0;
    margin-left: 1.333em;
    margin-right: 1em;
    margin-bottom: 0.667em;
    display: inline;
	width: 6.667em;
	height: 6.667em;
	border-radius: 3.333em;
	-webkit-border-radius: 3.333em;
	-moz-border-radius: 3.333em;
}

.omdomeright img{
    float: right;
    /*display: inline-block;*/
    margin-top: 0;
    margin-left: 2em;
    margin-right: 1.333em;
    margin-bottom: 0.667em;
    display: inline;
	width: 6.667em;
	height: 6.667em;
	border-radius: 3.333em;
	-webkit-border-radius: 3.333em;
	-moz-border-radius: 3.333em;
}


/* ------CSS BARA FÖR HUVUDINNEHÅLLETs TEXT------ */



.mainFirstHeading {
    padding-top: 0;
    margin-left: 1.333em;
}

.omdomeheading {
    padding-top: 0;
    margin-left: 1.333em;
	margin-bottom: 0;
}

.indexText {
    /*display: inline-block;
    margin-top: -235px;
    margin-left: 220px;
    margin-right: 1.333em;*/
    margin-top: 0;
    margin-left: 1.333em;
    margin-right: 1.333em;
    margin-bottom: 1.667em;
	font-size: 1.333em;
}

.mainText {
    /*display: inline-block;
    margin-top: -235px;
    margin-left: 220px;
    margin-right: 1.333em;*/
    margin-top: 0;
    margin-left: 1.333em;
    margin-right: 1.333em;
    margin-bottom: 1.667em;
}

.omdome {
    /*display: inline-block;
    margin-top: -235px;
    margin-left: 220px;
    margin-right: 1.333em;*/
    margin-top: 0;
    margin-left: 1.333em;
    margin-right: 1.333em;
    margin-bottom: 2em;
}



/* -------------CSS BARA FÖR FOOTERN------------- */


footer{
    width: 100%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.333em;
    padding-top: 0.333em;
    padding-bottom: 1.333em;
    font-family: 'Source Sans Pro';
    text-align: center;
}

#socials {
	text-align: center;

}

#socials ul li {
	list-style-type: none;
	margin-left: 4em;
	padding-right: 1.333em;
	float: right;
}

.twitter {
	background: url(bilder/twitter.png) repeat scroll center bottom transparent;
	width: 1.933em;
	height: 1.867em;
	display: block;
}

.facebook {
	background: url(bilder/facebook.png) repeat scroll center bottom transparent;
	width: 1.933em;
	height: 1.867em;
	display: block;
}

.tumblr {
	background: url(bilder/tumblr.png) repeat scroll center bottom transparent;
	width: 1.933em;
	height: 1.867em;
	display: block;
}
